@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography";
@use "../../styles/partials/resets" as *;


.videocard{
    padding: 0.4rem 0rem;

    display: flex;
    // gap: 3rem;
   
    justify-content: space-between;
    align-items: center;


    &__thumbnail{
        width: 10rem;
        height: 6rem;
        border-radius: 0.4rem;
    }

    &__info{
        width: 60vw;
        padding-left: 2rem;
        
    }

    &__title{
        font-size: 1.2rem;
        font-weight: 600;
        margin: 0;
        line-height: 1.8rem;
        color: $primary-main;

    }

    &__channel{
        font-size: 1.3rem;
        font-weight: 400;
        margin-top: 0.8rem;
        margin-bottom: 0.2rem;
        line-height: 1.8rem;

    }
}