
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography";
@use "../../styles/partials/resets" as *;





.upload{
    padding: 0rem 1.6rem;
    @include tablet{
        padding: 0rem 3.6rem;
        max-width: 102rem;
        margin: auto;
    }


    &__pagetitle{
        font-size: 2.4rem;
        font-weight: 700;
        margin-bottom: 0rem;
        @include tablet{
            font-size: 3.6rem;
        }
    }

    &__form{
        display: flex;
        flex-direction: column;
        @include desktop{
            flex-direction: row;
            gap: 2rem;
        }

      
        
    }

    &__thumbnail{
        border-radius: 0.4rem;


        @include tablet{
            width: 50%;
        }

        @include desktop{
            width: 100%;
        }
    }

    &__title,
    &__textarea{
        border-radius: 0.4rem;
        border: 0.1rem solid $primary-dark;
        background-color: $secondary-light;
        &::placeholder{
            font-size: 1.3rem;
            padding-left: 1rem;
            
            color: $primary-main;
            font-family: "AvenirNextLTPro", monospace, serif;

        }
    }

    &__title{
        height: 4rem;
        
    }

    &__textarea{
        height: 10rem;
        &::placeholder{
            
            padding-top: 1rem;
           

        }
        
    }

    &__label{
        font-size: 1.2rem;
        margin-bottom: 0.4rem;
        margin-top: 1.6rem;
        color: $primary-dark;
        
    }

&__videogroup{
    display: flex;
    flex-direction: column;
    @include desktop{
        width: 55%;
    }
}

     &__inputgroup{
        display: flex;
        flex-direction: column;
        @include desktop{
            width: 100%;
        }
     }

    &__buttongroup{
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        justify-content: center;
        margin-top: 2.4rem;

        @include tablet{
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
        }


        &--publish{
            height: 4rem;
            
            background-color: $primary-alternative;
            border: none;
            border-radius: 0.4rem;
            color: $primary-light;
            background-image: url(../../assets/Icons/publish.svg);
            background-repeat: no-repeat;
            background-position: left 1rem center;

            &:hover{
                background-color: $secondary-alternative;
            }

            @include tablet{
                order: 2;
                width: 20%;
            }
        }

        &--cancel{
            height: 4rem;
            width: 20vw;
            margin: auto;
            
            border: none;
            background-color: white;
            color: $primary-alternative;
            font-weight: 700;
            

            @include tablet{
                order: 1;
                width: 10rem;
                
            
            }

            &--anchor{
                display: flex;
                
            }

            
        }
    }

    &__published{
        font-weight: 700;
        font-size: 2.4rem;
        color: green;
        margin: auto;
        text-align: center;
        margin-top: 2rem;
        
    }


    
}