$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;


/*//////COLORS///////*/

$primary-main: #323232;
$primary-alternative:#0095FF;
$primary-dark: #afafaf;
$primary-light: #ffffff;


/*///////// HOVER COLORS ////////////////////*/

$secondary-main:#000000;
$secondary-alternative:#0065AD;
$secondary-dark:#E1E1E1;
$secondary-light: #FAFAFA;