@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography";
@use "../../styles/partials/resets" as *;

.hero {
  &__wrapper {
    padding: 0rem 1.6rem;
    @include tablet {
      padding: 0rem 3.6rem;
      max-width: 102rem;
      margin: auto;
    }
  }

  &__video {
    width: 100%;
    object-fit: cover;

    &::-webkit-media-controls-panel {
      width: 100%;
      box-shadow: none;
    }
    &::-webkit-media-controls-timeline {
      width: 80%;
    }
  }

  &__mid {
    border-bottom: 0.1rem solid $secondary-dark;
    @include tablet {
      border-bottom: none;
    }
  }
  &__bot {
    border-bottom: 0.1rem solid $secondary-dark;
  }

  &__title {
    font-size: 2.4rem;
    font-weight: 700;
    margin: 2.4rem 0rem;
    @include tablet {
      font-size: 3.3rem;
      margin: 3.6rem 0rem;
    }
    @include desktop {
      margin: 1.6rem 0rem;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    @include tablet {
      flex-direction: row;
      gap: 2rem;
    }
  }

  &__channel {
    font-weight: 700;
    color: $primary-main;
    @include tablet {
      font-size: 1.4rem;
    }
  }

  &__time {
    color: $primary-dark;
    margin-top: 0.5rem;
    @include tablet {
      margin-top: auto;
      font-size: 1.4rem;
    }
  }

  &__bot {
    display: flex;
    justify-content: flex-start;
    gap: 7rem;
    @include tablet {
      justify-content: space-between;
    }
  }

  &__views {
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    color: $primary-dark;
    @include tablet {
      font-size: 1.4rem;
    }
  }
  &__likes {
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    color: $primary-dark;
    @include tablet {
      font-size: 1.4rem;
    }

    &__count {
      margin-top: 0.5rem;
      @include tablet {
        margin-top: auto;
      }
    }
  }

  &__description {
    font-size: 1.3rem;
    line-height: 1.8rem;
    @include tablet {
      font-size: 1.4rem;
      line-height: 2.2rem;
      margin: 2.4rem 0rem;
    }
  }

  &__commentcount {
    font-size: 1.3rem;
    font-weight: 600;
    @include tablet {
      font-size: 1.4rem;
      margin: 2.4rem 0rem;
    }
  }
}
