@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography";
@use "../../styles/partials/resets" as *;

.hero {
  &__wrapper {
    padding: 0rem 1.6rem;
  }

  &__video {
    width: 100%;
    object-fit: cover;

    &::-webkit-media-controls-panel {
      width: 100%;
      box-shadow: none;
    }
    &::-webkit-media-controls-timeline {
      width: 80%;
    }
  }

  &__mid {
    border-bottom: 0.1rem solid $secondary-dark;
  }
  &__bot {
    border-bottom: 0.1rem solid $secondary-dark;
  }

  &__title {
    font-size: 2.4rem;
    font-weight: 500;
  }

  &__info {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
  }

  &__channel {
    font-weight: 600;
    color: $primary-main;
  }

  &__time {
    color: $primary-dark;
    margin-top: 0.5rem;
  }

  &__bot {
    display: flex;
    justify-content: flex-start;
    gap: 7rem;
  }

  &__views {
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    color: $primary-dark;
  }
  &__likes {
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    color: $primary-dark;

    &__count {
      margin-top: 0.5rem;
    }
  }

  &__description {
    font-size: 1.3rem;
    line-height: 1.8rem;
  }

  &__commentcount{
    font-size: 1.3rem;
    font-weight: 600;
  }
}
