@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography";
@use "../../styles/partials/resets" as *;


.nextvid{
    padding: 1.6rem 1.6rem;
    @include tablet{
        padding: 2.4rem 3.6rem;
        max-width: 102rem;
        margin: auto;
    }

    &__title{
        margin: 1.2rem 0rem;
        margin-top: 0;
        font-size: 1.2rem;
        font-weight: 500;
        color: $primary-dark;

    }
}